<!DOCTYPE html>

<%
function getLevelWord(tempLevel) {
    level = [{value: "P1", word: "小一"}, {
        value: "P2",
        word: "小二"
    }, {value: "P3", word: "小三"}, {value: "P4", word: "小四"}, {
        value: "P5",
        word: "小五"
    }, {value: "P6", word: "小六"}, {value: "S1", word: "中一"}, {
        value: "S2",
        word: "中二"
    }, {value: "S3", word: "中三"}, {value: "S4", word: "中四"}, {
        value: "S5",
        word: "中五"
    }, {value: "S6", word: "中六"}]

    var finalWords;
    for (k in level) {
        if (level[k].value === tempLevel) {
            finalWords = level[k].word;
            break;
        }
    }

    return finalWords
}%>
<%
//console.log("data.doc: " + data.doc)
//console.log("data.doc.student_level: " + data.doc[0].student_level)
var student = data.doc[0];

var status = student.status;
var id = student.id;
var level = student.student_level;
var locations = student.student_area
var days = student.student_days;
var gender = student.student_gender;
var price = student.student_expected_hr_price;
var subjectObjs = student.student_subject;
var tutorGender = student.tutor_gender_requirement;
var creator = student._creator;
var startTime = student.start_time;
var endTime = student.end_time;
var other = student.other_requirement;
var commentObjs = student.comment;
var parent = student._creator;
if (parent) {//have parent
    var parentPhone = parent.user_phone
}
//console.log("level" + level);
//console.log("locations" + locations);
//console.log("days" + days);
//console.log("gender" + gender);
//console.log("price" + price);
//console.log("subjects" + subjectObjs);
%>

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>學生資料</h2>
                <!--<ol class="breadcrumb">-->
                <!--<li>-->
                <!--<a href="index.html">Home</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                <!--<strong>Project detail</strong>-->
                <!--</li>-->
                <!--</ol>-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">

                                        <%
                                        if (data.user){
                                        if(creator){
                                        if(data.user._id == creator._id){ %>
                                        <a href="/edit-student?id=<%= id %>" class="btn btn-white btn-xs pull-right">修改
                                        </a>
                                        <% }}} %>
                                        <h2><%= getLevelWord(level) %>&nbsp;
                                            <% if(gender === 'female'){ %>
                                            女
                                            <% }else if(gender === 'male'){ %>
                                            男
                                            <% } %>
                                        </h2>
                                    </div>
                                    <dl class="dl-horizontal">

                                        <% function getLabelWord(status) {
                                            if (!status || status == "processing") {
                                                return "進行中";
                                            } else if (status == "removed") {
                                                return "關閉"
                                            } else if (status == "success") {
                                                return "成功"
                                            } else {
                                                return status
                                            }
                                        }
                                        function getLabelType(status) {
                                            if (!status || status == "processing") {
                                                return " label-primary";
                                            } else if (status == "removed") {
                                                return "label-success"
                                            } else {
                                                return " label-default"
                                            }
                                        } %>

                                        <dt>

                                        </dt>
                                        <dd class="project-status">
                                            <span class="label <%= getLabelType(status) %>">
                                                <%= getLabelWord(status) %>
                                            </span>
                                        </dd>

                                        <!--<% if(status && status == "true"){ %>-->
                                        <!--<dt>認證:</dt>-->
                                        <!--<dd><span class="label label-primary">已認證</span></dd>-->
                                        <!--<% } %>-->
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <% if( locations.length >= 1){ %>
                                        <dt>地區:</dt>
                                        <dd>
                                            <% for(var i = 0;i < locations.length;i++){ %>
                                            <%= locations[i].id %>
                                            <% } %>
                                        </dd>
                                        <br>
                                        <% } %>
                                        <%
                                        function getDaysWord(value) {
                                            var days = [{value: "M", word: "星期一"}, {
                                                value: "T",
                                                word: "星期二"
                                            }, {value: "W", word: "星期三"}, {value: "R", word: "星期四"}, {
                                                value: "F",
                                                word: "星期五"
                                            }, {value: "Sat", word: "星期六"}, {value: "Sun", word: "星期日"}]
                                            for (var i in days) {
                                                if (days[i].value == value) {
                                                    return days[i].word;
                                                }
                                            }
                                        }
                                        %>
                                        <% if( days.length >= 1){ %>
                                        <dt>日子:</dt>
                                        <dd>
                                            <% for(i = 0;i < days.length;i++){ %>
                                            <%= getDaysWord(days[i].id) %>
                                            <% } %>
                                        </dd>
                                        <br>
                                        <% } %>

                                        <% if(price){ %>
                                        <dt>預計補習費:</dt>
                                        <dd>
                                            $<%= price %>/小時
                                        </dd>
                                        <br>
                                        <% } %>

                                        <% if( subjectObjs.length >= 1){ %>
                                        <dt>科目:</dt>
                                        <dd>
                                            <% for(i = 0;i < subjectObjs.length;i++){ %>
                                            <%= subjectObjs[i].id %>
                                            <% } %>
                                        </dd>
                                        <br>
                                        <% } %>

                                        <% if(tutorGender){ %>
                                        <dt>要求導師性別:</dt>
                                        <dd>
                                            <% if(tutorGender === 'female'){ %>
                                            女
                                            <% }else if(tutorGender === 'male'){ %>
                                            男
                                            <% } %>
                                        </dd>
                                        <br>
                                        <% } %>

                                        <% if(startTime && startTime){ %>
                                        <dt>補習日期:</dt>

                                        <%
                                            var startDateObj = new Date(startTime);
                                            //                        var startDateString=startDateObj.getFullYear()+"-"+ startDateObj.getMonth()+"-"+startDateObj.getDate()
                                            var endDateObj = new Date(endTime);
                                            function getString(dateObj) {
                                                return dateObj.getFullYear() + "/" + (parseInt(dateObj.getMonth()) + 1) + "/" + dateObj.getDate()
                                            }

                                            var startDateString = getString(startDateObj);
                                            var endDateString = getString(endDateObj);
                                        %>
                                        <dd>
                                            <% if( startTime !== null && endTime !== null){ %>
                                            <%= startDateString %> ~ <%= endDateString %>
                                            <% } %>
                                        </dd>
                                        <% } %>

                                        <% if(other){ %>
                                        <br>
                                        <dt>其他需求:</dt>
                                        <dd>
                                            <%= other %>
                                        </dd>
                                        <br>
                                        <% } %>
                                        <% if(parentPhone){ %>
                                        <dt>家長電話:</dt>
                                        <dd>
                                            <%= parentPhone %>
                                        </dd>
                                        <br>
                                        <% } %>
                                    </dl>
                                </div>

                            </div>

                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <div class="panel blank-panel">
                                        <div class="panel-heading">
                                            <div class="panel-options">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab-1" data-toggle="tab">Users
                                                            messages</a></li>
                                                    <!--<li class=""><a href="#tab-2" data-toggle="tab">Last activity</a>-->
                                                    <!--</li>-->
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">

                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-1">

                                                    <% for(var i = 0;i < commentObjs.length;i++){ %>

                                                    <div class="feed-element">
                                                        <a href="#" class="pull-left">
                                                            <img alt="image" class="img-circle" src="img/a3.jpg">
                                                        </a>

                                                        <div class="media-body ">
                                                            <%= commentObjs[i].comment_creator.user_name %>
                                                            <small class="pull-right">
                                                                <%
                                                                    var tempCommentTimeDate = new Date(parseInt(commentObjs[i].comment_time));
                                                                    var tempCommentTimeString = tempCommentTimeDate.getUTCDate() + "/" + (parseInt(tempCommentTimeDate.getMonth()) + 1) + "/" + tempCommentTimeDate.getFullYear() + " " + tempCommentTimeDate.getHours() + ":" + tempCommentTimeDate.getMinutes() + ":" + tempCommentTimeDate.getSeconds();
                                                                %>
                                                                <%= tempCommentTimeString %>
                                                            </small>
                                                            <strong></strong><br>
                                                            <!--<small class="text-muted">2 days ago at 8:30am</small>-->
                                                            <br>
                                                            <%= commentObjs[i].content %>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                    <% if(data.user){ %>
                                                    <div class="feed-element">
                                                        <form action="/submit-comment" method="post">
                                                            <div class="form-group col-md-12">
                                                                <textarea class="form-control" rows="5"
                                                                          name="comment_content"
                                                                          placeholder="留言"></textarea>
                                                                <button class="btn btn-primary" type="submit"
                                                                        style="float: right; margin-top: 5px;">留言
                                                                </button>
                                                                <input type="hidden" name="postId" value="<%= id %>">
                                                                <input type="hidden" name="userId"
                                                                       value="<%= data.user._id %>">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <% } %>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <%- include('footer') %>

        </div>
    </div>

    <%- include('mainly-scripts.ejs') %>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script>
</body>

</html>
