<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>

        .checkboxContainer {
            border: 2px solid #ccc;
            /*width: 600px;*/
            height: 200px;
            overflow-y: scroll;
            background-color: white;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 15px;
        }

    </style>

</head>

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>帳號資料</h2>

            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <form action="/finish-edit-client" method="post" id="register-form"
                          class="rcw-form container-fluid">
                        <!--<h3 class="form-main-heading">Register</h3>
                        <div class="form-group">
                            <p class="fields-required">Fields marked with * are required.</p>
                        </div>-->
                        <fieldset class="row">
                            <div>
                                <legend><span>帳號資料</span></legend>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group form-group-lg has-success has-feedback col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-addon"><a class="fa fa-user"></a></div>
                                                <input type="text" name="username" class="form-control"
                                                       value="<%= data.user.user_name %>"
                                                       placeholder="Username *" required disabled> <!--required -->
                                            </div>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                                              style="top:5px;right:20px;"></span>
                                        </div>
                                        <div class="form-group form-group-lg col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon"><a class="fa fa-lock"></a></div>
                                                <input type="password" name="password" placeholder="密碼 *"
                                                       class="form-control" required> <!--required -->
                                            </div>
                                        </div>
                                        <div class="form-group form-group-lg has-feedback col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon"><a class="fa fa-lock"></a></div>
                                                <input type="password" name="retype_password"
                                                       placeholder="重新輸入密碼 *" class="form-control" required>
                                                <!--required -->
                                            </div>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                                              style="top:5px;right:20px;"></span>
                                        </div>


                                        <div class="form-group form-group-lg has-feedback col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon"><a class="fa fa-lock"></a></div>
                                                <input type="number" name="tel"
                                                       placeholder="電話號碼 *" class="form-control" required
                                                       value="<%= data.user.user_phone %>">
                                                <!--required -->
                                            </div>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                                              style="top:5px;right:20px;"></span>
                                        </div>
                                        <!--<div class="form-group form-group-lg has-feedback col-md-12">-->
                                        <!--<div class="input-group">-->
                                        <!--<div class="input-group-addon"><a class="fa fa-envelope"></a></div>-->
                                        <!--<input type="email" name="email" placeholder="Email address *"-->
                                        <!--class="form-control" required> &lt;!&ndash;required &ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<span class="glyphicon form-control-feedback" aria-hidden="true"-->
                                        <!--style="top:5px;right:20px;"></span>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!-- end .row -->
                            </div>
                            <!-- end .col-md-12 -->
                        </fieldset>
                        <!--<br>-->
                        <!--<fieldset class="row">-->
                        <!--<div>-->
                        <!--<legend><span>Personal details</span></legend>-->
                        <!--</div>-->
                        <!--<div class="col-md-12">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-6 form-group ">-->
                        <!--<input type="text" name="first_name" id="first-name"-->
                        <!--placeholder="First name *"-->
                        <!--class="form-control">-->
                        <!--</div>-->
                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="last_name" id="last-name" placeholder="Last name *"-->
                        <!--class="form-control">-->
                        <!--</div>-->
                        <!--<div class="col-md-3 form-group">-->
                        <!--<label for="gender" class="sr-only">Gender</label>-->
                        <!--<select name="gender" id="gender" class="form-control ff-rounded">-->
                        <!--<option value="" style="display:none;">Choose gender(optional)-->
                        <!--</option>-->

                        <!--<option value="male">Male</option>-->
                        <!--<option value="female">Female</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<select class="form-control bfh-countries form-group dsgform" data-country="HK" data-flags="true" name="location"></select>&ndash;&gt;-->
                        <!--<div class="form-group col-md-6">-->
                        <!--<div class="bfh-selectbox bfh-countries" data-country="HK" data-flags="true"-->
                        <!--data-name="location"></div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-3">-->
                        <!--<div class="bfh-datepicker" data-placeholder="Choose end day"-->
                        <!--data-input="form-control" data-format="d-m-y" data-date="today"-->
                        <!--data-min="today" data-name="date"></div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-12">-->
                        <!--<input class="form-control" id="phone" type="tel" name="tel"-->
                        <!--placeholder="Tel *">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; end .row &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; end .col-md-12 &ndash;&gt;-->
                        <!--</fieldset>-->
                        <!--<br>-->

                        <!--<fieldset class="row">-->
                        <!--<div>-->
                        <!--<legend><span>Tutor details</span></legend>-->
                        <!--</div>-->
                        <!--<div class="col-md-12">-->
                        <!--<div class="row">-->
                        <!--<div class="col-md-6 form-group ">-->
                        <!--<input type="text" name="tutor-area" id="tutor-area"-->
                        <!--placeholder="Tutorial Area"-->
                        <!--class="form-control">-->
                        <!--</div>-->
                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="tutor-expected-salary" id="tutor-expected-salary"-->
                        <!--placeholder="Tutorial Expected Salary (hr)"-->
                        <!--class="form-control">-->
                        <!--</div>-->

                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="tutor-teach-level" id="tutor-teach-level"-->
                        <!--placeholder="Teach Level"-->
                        <!--class="form-control">-->
                        <!--</div>-->
                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="tutor-teach-subject" id="tutor-teach-subject"-->
                        <!--placeholder="Teach Subjects"-->
                        <!--class="form-control">-->
                        <!--</div>-->

                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="tutor-ce-result" id="tutor-ce-result"-->
                        <!--placeholder="CE Result"-->
                        <!--class="form-control">-->
                        <!--</div>-->

                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="tutor-al-result" id="tutor-al-result"-->
                        <!--placeholder="AL Result"-->
                        <!--class="form-control">-->
                        <!--</div>-->

                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="tutor-dse-result" id="tutor-dse-result"-->
                        <!--placeholder="DSE Result"-->
                        <!--class="form-control">-->
                        <!--</div>-->
                        <!--<div class="col-md-6 form-group">-->
                        <!--<input type="text" name="tutor-available-time" id="tutor-available-time"-->
                        <!--placeholder="Tutor Available Time"-->
                        <!--class="form-control">-->
                        <!--</div>-->

                        <!--&lt;!&ndash;<div class="col-md-6 form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="text" name="tutor-gender" id="tutor-gender"&ndash;&gt;-->
                        <!--&lt;!&ndash;placeholder="Tutor Gender"&ndash;&gt;-->
                        <!--&lt;!&ndash;class="form-control">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->


                        <!--&lt;!&ndash;<div class="col-md-3 form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="gender" class="sr-only">Gender</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<select name="gender" id="gender" class="form-control ff-rounded">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="" style="display:none;">Choose gender(optional)&ndash;&gt;-->
                        <!--&lt;!&ndash;</option>&ndash;&gt;-->

                        <!--&lt;!&ndash;<option value="male">Male</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="female">Female</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="form-control bfh-countries form-group dsgform" data-country="HK" data-flags="true" name="location"></select>&ndash;&gt;-->
                        <!--<div class="form-group col-md-6">-->
                        <!--<div class="bfh-selectbox bfh-countries" data-country="HK" data-flags="true"-->
                        <!--data-name="location"></div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-3">-->
                        <!--<div class="bfh-datepicker" data-placeholder="Choose end day"-->
                        <!--data-input="form-control" data-format="d-m-y" data-date="today"-->
                        <!--data-min="today" data-name="date"></div>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--&lt;!&ndash; end .row &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; end .col-md-12 &ndash;&gt;-->
                        <!--</fieldset>-->
                        <!--<br>-->
                        <!--<fieldset class="row">-->
                        <!--<div>-->
                        <!--<legend><span>Portfolio</span></legend>-->
                        <!--</div>-->
                        <!--<div class="col-md-12">-->
                        <!--<div class="row">-->
                        <!--<div class="form-group col-md-12">-->
                        <!--<textarea class="form-control" rows="5" name="portfolio"-->
                        <!--placeholder="Portfolio *"></textarea>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-12">-->
                        <!--<div class="checkbox-inline">-->
                        <!--<input type="checkbox" name="subscribe" id="subscribe" value="yes">-->
                        <!--<label for="subscribe">Subscribe to our newsletter. We won't-->
                        <!--spam!</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-12">-->
                        <!--<div class="checkbox-inline">-->
                        <!--<input type="checkbox" name="terms" id="terms" value="yes">-->
                        <!--<label for="terms">I agree with the <a href="#"-->
                        <!--title="Terms and conditions"-->
                        <!--, target='_blank'>terms and-->
                        <!--conditions</a>. *</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group col-md-3">-->
                        <!--<label for="captcha" class="sr-only">Captcha</label>-->

                        <!--<div class="captcha-right">-->
                        <!--<input type="text" name="captcha" id="captcha"-->
                        <!--placeholder="Captcha code *"-->
                        <!--class="form-control">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; end .row &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; end .col-md-12 &ndash;&gt;-->
                        <!--</fieldset>-->
                        <button type="submit" name="submit" id="submit" style="margin-right: 10px;"
                                class="btn btn-primary ff-rounded">修改
                        </button>
                        <!--<button type="reset" class="btn btn-default ff-rounded btn-has-icon-left"><span-->
                        <!--class="btn-icon-left icon-cancel5 ff-rounded-l"></span>Reset-->
                        <!--</button>-->
                    </form>
                </div>
            </div>

        </div>
        <%- include('footer') %>
    </div>


</div>
</div>


<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<!--iChecker-->

<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>$(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });</script>

<!-- Steps -->
<script src="js/plugins/staps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="js/plugins/validate/jquery.validate.min.js"></script>


<script>
    $(document).ready(function () {
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
    });
</script>


</body>

</html>
