<!DOCTYPE html>
<%
var processUndefineArray=function(array){
    if(array){
        return array
    }else{
        return []
    }
}
var tempLastName = data.user.user_last_name;
var tempFirstName=    data.user.user_first_name ;
var tempGender = data.user.tutor_gender;

var tempTel = data.user.user_phone;
var tempLocation = processUndefineArray(data.user.tutor_area)
//user.tutor_expected_hr_salary
var tempTutorialLevel = processUndefineArray(data.user.tutor_teach_level)
//    data.doc[i*4+j].tutor_gender
var tempSubject = processUndefineArray(data.user.tutor_subject);
var tempPublicExamResult = data.user.tutor_public_exam_detail;
var tempTutorialDays = processUndefineArray(data.user.tutor_available_days);

var tempOtherDescriptions = data.user.tutor_other_detail;
var tempEduLevel = data.user.tutor_edu_level;
%>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=data.title%></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>

        .checkboxContainer {
            border: 2px solid #ccc;
            /*width: 600px;*/
            height: 200px;
            overflow-y: scroll;
            background-color: white;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 15px;
        }

    </style>

</head>

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>導師資料</h2>

            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-md-8">
                <div class="col-lg-12">
                    <form action="/finish-edit-tutor" method="post" id="register-form editForm"
                          class="rcw-form container-fluid">
                        <!--<h3 class="form-main-heading">Register</h3>
                        <div class="form-group">
                            <p class="fields-required">Fields marked with * are required.</p>
                        </div>-->
                        <fieldset class="row">
                            <div>
                                <legend><span>Account details</span></legend>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group form-group-lg has-success has-feedback col-md-12">
                                        <div class="input-group">
                                            <div class="input-group-addon"><a class="fa fa-user"></a></div>
                                            <input type="email" name="username" class="form-control"
                                                   value="<%= data.user.user_name %>"
                                                   placeholder="Email *" required> <!--required -->
                                        </div>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                                              style="top:5px;right:20px;"></span>
                                    </div>
                                    <div class="form-group form-group-lg col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-addon"><a class="fa fa-lock"></a></div>
                                            <input type="password" name="password" placeholder="密碼 *"
                                                   class="form-control"> <!--required -->
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg has-feedback col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-addon"><a class="fa fa-lock"></a></div>
                                            <input type="password" name="retypePassword"
                                                   placeholder="確認密碼  *" class="form-control">
                                            <!--required -->
                                        </div>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"
                                              style="top:5px;right:20px;"></span>
                                    </div>
                                    <!--<div class="form-group form-group-lg has-feedback col-md-12">-->
                                    <!--<div class="input-group">-->
                                    <!--<div class="input-group-addon"><a class="fa fa-envelope"></a></div>-->
                                    <!--<input type="email" name="email" placeholder="Email address *"-->
                                    <!--class="form-control" required> &lt;!&ndash;required &ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<span class="glyphicon form-control-feedback" aria-hidden="true"-->
                                    <!--style="top:5px;right:20px;"></span>-->
                                    <!--</div>-->
                                </div>
                                <!-- end .row -->
                            </div>
                            <!-- end .col-md-12 -->
                        </fieldset>
                        <br>
                        <fieldset class="row">
                            <div>
                                <legend><span>個人資料</span></legend>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="lastName" id="last-name" placeholder="姓 *"
                                               class="form-control" value="<%=tempLastName%>">
                                    </div>
                                    <div class="col-md-6 form-group ">
                                        <input type="text" name="firstName" id="first-name"
                                               placeholder="名字 *"
                                               class="form-control" value="<%=tempFirstName%>">
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label for="gender" class="sr-only">性別</label>
                                        <select name="gender" id="gender" class="form-control ff-rounded" value="<%=tempGender%>">
                                            <option value="" style="display:none;" >請選性別(選填)
                                            </option>

                                            <option value="male" <%if(tempGender==='male'){%>selected<%}%>>男</option>
                                            <option value="female" <%if(tempGender==='female'){%>selected<%}%>>女</option>
                                        </select>
                                    </div>
                                    <!--<select class="form-control bfh-countries form-group dsgform" data-country="HK" data-flags="true" name="location"></select>-->
                                    <div class="form-group col-md-6">
                                        <div class="bfh-selectbox bfh-countries" data-country="HK" data-flags="true"
                                             data-name="location"></div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="bfh-datepicker" data-placeholder="Choose end day"
                                             data-input="form-control" data-format="d-m-y" data-date="today"
                                             data-min="today" data-name="date"></div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input class="form-control" id="phone" type="number" name="tel" value="<%=tempTel%>"
                                               placeholder="電話號碼 *" style="-moz-appearance:textfield;">
                                    </div>
                                </div>
                                <!-- end .row -->
                            </div>
                            <!-- end .col-md-12 -->
                        </fieldset>
                        <br>

                        <fieldset class="row">
                            <div>
                                <legend><span>導師資料</span></legend>
                            </div>
                            <div class="col-md-12">
                                <div class="row">

                                    <% var hkIsland = ["全香港島", "上環", "大坑", "山頂", "中環", "蘇豪", "蘭桂坊", "天后", "太古", "北角", "半山", "石澳", "西環", "赤柱", "金鐘", "柴灣", "灣仔", "西灣河", "杏花村", "香港仔", "淺水灣", "深水灣", "跑馬地", "筲箕灣", "銅鑼灣", "鴨脷洲", "薄扶林", "數碼港", "鰂魚涌"];

                                    var kowloon = ["全九龍", "太子", "佐敦", "旺角", "油塘", "紅磡", "美孚", "彩虹", "樂富", "藍田", "觀塘", "九龍城", "九龍塘", "九龍灣", "土瓜灣", "大角咀", "牛頭角", "石硤尾", "尖沙咀", "諾士佛臺", "何文田", "油麻地", "長沙灣", "荔枝角", "深水埗", "黃大仙", "慈雲山", "新蒲崗", "鯉魚門", "鑽石山"]


                                    var newT = ["全新界", "上水", "大埔", "大圍", "元朗", "太和", "屯門", "火炭", "西貢", "沙田", "青衣", "粉嶺", "荃灣", "馬灣", "深井", "葵芳", "葵涌", "羅湖", "天水圍", "流浮山", "馬鞍山", "將軍澳", "落馬洲"]


                                    var island = ["全離島", "大澳", "坪洲", "東涌", "長洲", "大嶼山", "赤鱲角", "南丫島", "愉景灣", "蒲苔島"]

                                    console.log(hkIsland); %>
                                    <div class="col-md-6">
                                        香港島
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in hkIsland){ %>
                                            <input type="checkbox" name="location" value="<%= hkIsland[i] %>"  <%if(tempLocation.indexOf(hkIsland[i])>=0){%>checked<%}%>/><%= hkIsland[i] %><br/>
                                            <% } %>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        九龍
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in kowloon){ %>
                                            <input type="checkbox" name="location" value="<%= kowloon[i] %>" <%if(tempLocation.indexOf(kowloon[i])>=0){%>checked<%}%>/><%= kowloon[i] %> ><br/>
                                            <% } %>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        新界
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in newT){ %>
                                            <input type="checkbox" name="location" value="<%= newT[i] %>" <%if(tempLocation.indexOf(newT[i])>=0){%>checked<%}%>/><%= newT[i]  %><br/>
                                            <% } %>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        離島
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in island){ %>
                                            <input type="checkbox" name="location" value="<%= island[i] %>" <%if(tempLocation.indexOf(island[i])>=0){%>checked<%}%>/><%= island[i] %><br/>
                                            <% } %>

                                        </div>
                                    </div>



                                    <div>
                                        <legend><span>導師資料</span></legend>
                                    </div>

                                    <%
                                    var core = ["中國語文", "英國語文", "數學", "通識教育"]

                                    var elective = ["中國文學", "生物", "企業、會計與財務概論",
                                        "英語文學", "化學", "設計與應用科技",
                                        "中國歷史", "物理", "健康管理與社會關懷",
                                        "經濟", "科學 : 組合科學", "資訊及通訊科技",
                                        "倫理與宗教", "科學 : 綜合科學", "科技與生活",
                                        "地理", "音樂",
                                        "歷史", "視覺藝術",
                                        "旅遊與款待", "體育"]
                                    %>
                                    <div class="col-md-6 form-group">
                                        核心科目

                                        <!--<input type="text" name="studentSubject" id="studentSubject"-->
                                        <!--placeholder="Subjects"-->
                                        <!--class="form-control">-->
                                        <div class="checkboxContainer">
                                            <%
                                            for(i in core){ %>
                                            <input type="checkbox" value="<%= core[i] %>"
                                                   name="subject"  <%if(tempSubject.indexOf(core[i])>=0){%>checked<%}%>/><%= core[i] %><br/>
                                            <% } %>
                                        </div>
                                    </div>


                                    <div class="col-md-6 form-group">
                                        選修科目

                                        <!--<input type="text" name="studentSubject" id="studentSubject"-->
                                        <!--placeholder="Subjects"-->
                                        <!--class="form-control">-->
                                        <div class="checkboxContainer">
                                            <%
                                            for(i in elective){ %>
                                            <input type="checkbox" value="<%= elective[i] %>"
                                                   name="subject"  <%if(tempSubject.indexOf(elective[i])>=0){%>checked<%}%>/><%= elective[i] %><br/>
                                            <% } %>
                                        </div>
                                    </div>

                                    <!--<div class="col-xs-6">-->
                                    <!--<h3 class="text-center">Colorful Example</h3>-->

                                    <!--<div class="well" style="max-height: 300px;overflow: auto;">-->
                                    <!--<ul id="check-list-box" class="list-group checked-list-box">-->
                                    <!--<li class="list-group-item">Cras justo odio</li>-->
                                    <!--<li class="list-group-item" data-color="success">Dapibus ac-->
                                    <!--facilisis in-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item" data-color="info">Morbi leo risus</li>-->
                                    <!--<li class="list-group-item" data-color="warning">Porta ac-->
                                    <!--consectetur ac-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item" data-color="danger">Vestibulum at eros-->
                                    <!--</li>-->
                                    <!--</ul>-->
                                    <!--<br/>-->
                                    <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get-->
                                    <!--Checked Data-->
                                    <!--</button>-->
                                    <!--</div>-->
                                    <!--<pre id="display-json"></pre>-->
                                    <!--</div>-->
                                    <!--<button class="btn btn-primary col-xs-12" id="get-checked-data">Get Checked-->
                                    <!--Data-->
                                    <!--</button>-->
                                    <!--<pre id="display-json">{}</pre>-->
                                    <!--<div class="col-md-6 form-group">-->
                                    <!--<input type="text" name="tutor-expected-salary" id="tutor-expected-salary"-->
                                    <!--placeholder="Tutorial Expected Salary (hr)"-->
                                    <!--class="form-control">-->
                                    <!--</div>-->

                                    <% var level = [{value: "P1", word: "小一"}, {
                                        value: "P2",
                                        word: "小二"
                                    }, {value: "P3", word: "小三"}, {value: "P4", word: "小四"}, {
                                        value: "P5",
                                        word: "小五"
                                    }, {value: "P6", word: "小六"}, {value: "S1", word: "中一"}, {
                                        value: "S2",
                                        word: "中二"
                                    }, {value: "S3", word: "中三"}, {value: "S4", word: "中四"}, {
                                        value: "S5",
                                        word: "中五"
                                    }, {value: "S6", word: "中六"}]
                                    %>
                                    <!--<div class="col-md-6 form-group">-->
                                    <!--<input type="text" name="tutor-teach-level" id="tutor-teach-level"-->
                                    <!--placeholder="任教程度"-->
                                    <!--class="form-control">-->
                                    <!-- -->
                                    <!--</div>-->

                                    <div class="col-md-6">
                                        任教程度
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in level){ %>
                                            <input type="checkbox" name="tutorialLevel" value="<%= level[i].value %>" <%if(tempTutorialLevel.indexOf(level[i].value)>=0){%>checked<%}%>/><%= level[i].word %><br/>
                                            <% } %>
                                        </div>
                                    </div>

                                    <%
                                    var eduLevel = [{value: "S5", word: "中五畢業"}, {
                                        value: "S7",
                                        word: "中七畢業"
                                    }, {value: "S6", word: "高中畢業 (DSE)"}, {
                                        value: "UND",
                                        word: "大學生(非學位)"
                                    }, {value: "UD", word: "大學生(學位)"}, {
                                        value: "UGrad",
                                        word: "大學畢業"
                                    }, {value: "Master", word: "碩士學位"}, {value: "Doctor", word: "博士學位"}];
                                            for(i in eduLevel){ %>

                                    <% } %>
                                    <div class="col-md-6 form-group">
                                        <!--<input type="text" name="eduLevel" id="eduLevel"-->
                                        <!--placeholder="教育程度"-->
                                        <!--class="form-control">-->

                                        <!--<div class="col-md-6 form-group">-->


                                        <label for="gender" class="sr-only">教育程度</label>
                                        <select name="eduLevel" id="gender" class="form-control ff-rounded"
                                                required>
                                            <option value="" style="display:none;">請選教育程度
                                            </option>
                                            <%
                                            for(i in eduLevel){
                                            %>
                                            <option value="<%= eduLevel[i].value %>" <%if(tempEduLevel===eduLevel[i].value){%>selected<%}%>><%= eduLevel[i].word %></option>
                                            <%
                                            }
                                            %>
                                        </select>
                                        <!--</div>-->
                                    </div>
                                    <!--<div class="col-md-6 form-group">-->
                                    <!--<input type="text" name="tutor-teach-subject" id="tutor-teach-subject"-->
                                    <!--placeholder="任教科目"-->
                                    <!--class="form-control">-->
                                    <!--</div>-->
                                    <div class="form-group col-md-12">
                                        <textarea class="form-control" rows="5" name="publicExamResult"
                                                  placeholder="公開考試成績: eg.AL:25 CE:26 DSE:30"><%=tempPublicExamResult%></textarea>
                                    </div>
                                    <!--<div class="col-md-6 form-group">-->
                                    <!--<input type="text" name="tutor-ce-result" id="tutor-ce-result"-->
                                    <!--placeholder="CE Result"-->
                                    <!--class="form-control">-->
                                    <!--</div>-->

                                    <!--<div class="col-md-6 form-group">-->
                                    <!--<input type="text" name="tutor-al-result" id="tutor-al-result"-->
                                    <!--placeholder="AL Result"-->
                                    <!--class="form-control">-->
                                    <!--</div>-->

                                    <!--<div class="col-md-6 form-group">-->
                                    <!--<input type="text" name="tutor-dse-result" id="tutor-dse-result"-->
                                    <!--placeholder="DSE Result"-->
                                    <!--class="form-control">-->
                                    <!--</div>-->

                                    <div class="col-sm-12 form-group">
                                        可任教日子:
                                        <!--<input type="text" name="tutor-available-time" id="tutor-available-time"-->
                                        <!--placeholder="Tutor Available Time"-->
                                        <!--class="form-control">-->
                                        <% var days = [{value: "M", word: "星期一"}, {
                                            value: "T",
                                            word: "星期二"
                                        }, {value: "W", word: "星期三"}, {value: "R", word: "星期四"}, {
                                            value: "F",
                                            word: "星期五"
                                        }, {value: "Sat", word: "星期六"}, {value: "Sun", word: "星期日"}]
                                                for(i in days){ %>
                                        <input type="checkbox" value="<%= days[i].value %>" name="tutorialDays"  <%if(tempTutorialDays.indexOf(days[i].value)>=0){%>checked<%}%>/><%= days[i].word %>
                                        <% }
                                        %>

                                    </div>

                                    <!--<div class="col-md-6 form-group">-->
                                    <!--<input type="text" name="tutor-gender" id="tutor-gender"-->
                                    <!--placeholder="Tutor Gender"-->
                                    <!--class="form-control">-->
                                    <!--</div>-->


                                    <!--<div class="col-md-3 form-group">-->
                                    <!--<label for="gender" class="sr-only">Gender</label>-->
                                    <!--<select name="gender" id="gender" class="form-control ff-rounded">-->
                                    <!--<option value="" style="display:none;">Choose gender(optional)-->
                                    <!--</option>-->

                                    <!--<option value="male">Male</option>-->
                                    <!--<option value="female">Female</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--<select class="form-control bfh-countries form-group dsgform" data-country="HK" data-flags="true" name="location"></select>-->
                                    <div class="form-group col-md-6">
                                        <div class="bfh-selectbox bfh-countries" data-country="HK" data-flags="true"
                                             data-name="location"></div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="bfh-datepicker" data-placeholder="Choose end day"
                                             data-input="form-control" data-format="d-m-y" data-date="today"
                                             data-min="today" data-name="date"></div>
                                    </div>

                                </div>
                                <!-- end .row -->
                            </div>
                            <!-- end .col-md-12 -->
                        </fieldset>
                        <br>
                        <fieldset class="row">
                            <div>
                                <legend><span>其他</span></legend>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <textarea class="form-control" rows="5" name="otherDescriptions"
                                                  placeholder="" ><%=tempOtherDescriptions%></textarea>
                                    </div>
                                    <!--<div class="form-group col-md-12">-->
                                    <!--<div class="checkbox-inline">-->
                                    <!--<input type="checkbox" name="subscribe" id="subscribe" value="yes">-->
                                    <!--<label for="subscribe">Subscribe to our newsletter. We won't-->
                                    <!--spam!</label>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group col-md-12">-->
                                    <!--<div class="checkbox-inline">-->
                                    <!--<input type="checkbox" name="terms" id="terms" value="yes">-->
                                    <!--<label for="terms">I agree with the <a href="#"-->
                                    <!--title="Terms and conditions"-->
                                    <!--, target='_blank'>terms and-->
                                    <!--conditions</a>. *</label>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group col-md-3">-->
                                    <!--<label for="captcha" class="sr-only">Captcha</label>-->

                                    <!--<div class="captcha-right">-->
                                    <!--<input type="text" name="captcha" id="captcha"-->
                                    <!--placeholder="Captcha code *"-->
                                    <!--class="form-control">-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <!-- end .row -->
                            </div>
                            <!-- end .col-md-12 -->
                        </fieldset>
                        <button type="submit" name="submit" id="submit" style="margin-right: 10px;"
                                class="btn btn-primary ff-rounded">修改
                        </button>
                        <!--<button type="reset" class="btn btn-default ff-rounded btn-has-icon-left"><span-->
                        <!--class="btn-icon-left icon-cancel5 ff-rounded-l"></span>Reset-->
                        <!--</button>-->
                    </form>
                </div>
                </div>
            </div>

        </div>
        <%- include('footer') %>
    </div>


</div>
</div>


<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<!--iChecker-->

<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>$(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });</script>

<!-- Steps -->
<script src="js/plugins/staps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="js/plugins/validate/jquery.validate.min.js"></script>


<script>
    $(document).ready(function () {
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
    });
</script>


</body>

</html>
