<div class="footer">
    <!--<div class="pull-right">-->
    <!--10GB of <strong>250GB</strong> Free.-->
    <!--</div>-->
    <div class="pull-right">
        <strong>Copyright</strong> Tu+ &copy; 2014-2015
    </div>
</div>