<!--Grid layout-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="js/blocksit.min.js"></script>


<script>
    $(document).ready(function () {
        //vendor script
        $('#header')
                .css({'top': -50})
                .delay(1000)
                .animate({'top': 0}, 800);

        $('#footer')
                .css({'bottom': -15})
                .delay(1000)
                .animate({'bottom': 0}, 800);

        //blocksit define
        $(window).load(function () {


            var winWidth = $(window).width();
            var conWidth;
            if (winWidth < 660) {
                conWidth = winWidth;
                col = 1
            } else if (winWidth < 880) {
                conWidth = 660;
                col = 1
            } else if (winWidth < 1100) {
                conWidth = 880;
                col = 2;
            } else {
                conWidth = 1100;
                col = 3;
            }

            if (conWidth != currentWidth) {
                currentWidth = conWidth;
                $('#container').width(conWidth);
                $('#container').BlocksIt({
                    numOfCol: col,
                    offsetX: 3,
                    offsetY: 3
                });
            }


            $('#container').BlocksIt({
                numOfCol: col,
                offsetX: 3,
                offsetY: 3,
                blockElement: '.grid'

            });
            $('#container').BlocksIt('reload');

        });

        //window resize
        var currentWidth = 1100;
        $(window).resize(function () {
            var winWidth = $(window).width();
            var conWidth;
//            if (winWidth < 330) {
//                conWidth = 300;
//                col = 1
//            } else if (winWidth < 440) {
//                conWidth = 330;
//                col = 1
//            } else

            if (winWidth < 660) {
                conWidth = winWidth;
                col = 1
            } else if (winWidth < 880) {
                conWidth = 660;
                col = 1
            } else if (winWidth < 1100) {
                conWidth = 880;
                col = 2;
            } else {
                conWidth = 1100;
                col = 3;
            }


            if (conWidth != currentWidth) {
                currentWidth = conWidth;
                $('#container').width(conWidth);
                $('#container').BlocksIt({
                    numOfCol: col,
                    offsetX: 3,
                    offsetY: 3
                });
            }
        });
    });
</script>