<!DOCTYPE html>
<html>
<% var student = data.student
var tempGender = student.student_gender;
var tempPrice = student.student_expected_hr_price
var tempLevel = student.student_level;
var tempSubjectObjs = student.student_subject
var tempTutorGender = student.tutor_gender_requirement;
var tempDayObjs = student.student_days;
var tempLocationObjs = student.student_area;
var tempStartDays = student.start_time
var tempEndDays = student.end_time
var tempOtherRequirement = student.other_requirement
%>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=data.title%></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">


    <!--date picker-->
    <link href="bootstrap-css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">


    <style>

        .formContainer {
            border: 0px solid;

            /*width: 600px;*/
            height: 520px;
            overflow-y: scroll;
            background-color: #EEE;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 15px;
        }

        .checkboxContainer {
            border: 1px solid #ccc;
            /*width: 600px;*/
            height: 200px;
            overflow-y: scroll;
            background-color: white;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 15px;
        }

    </style>

</head>

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>
    <div id="page-wrapper" class="gray-bg"
            >
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>新增學生</h2>

            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight" style="
    padding-left: 0px;
    padding-right: 0px;
">

            <div class="row">
                <div class="col-lg-12" style="
    padding-left: 0px;
    padding-right: 0px;
">
                    <div class="ibox" style="
    padding-left: 0px;
    padding-right: 0px;
">

                    </div>
                    <div class="ibox-content">
                        <h2>
                            新增學生
                        </h2>


                        <form id="form" action="<%= data.nextUrl %>" method="post" class="wizard-big">


                            <input type="hidden" name="id" value="<%= student._id %>">

                            <h1>個人資料</h1>
                            <fieldset style="display: block;padding-right: 0px;">
                                <div>
                                    <legend><span>個人資料</span></legend>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-3 form-group">
                                            <label for="gender" class="sr-only">Gender</label>
                                            <select name="gender" id="gender" class="form-control ff-rounded" required>
                                                <option value="" style="display:none;">請選性別(選填)
                                                </option>

                                                <option value="male" <% if(tempGender === 'male'){ %>selected
                                                        <% } %>
                                                        >男
                                                </option>
                                                <option value="female" <% if(tempGender === 'female'){ %>selected
                                                        <% } %>
                                                        >女
                                                </option>
                                            </select>
                                        </div>


                                        <!--<select class="form-control bfh-countries form-group dsgform" data-country="HK" data-flags="true" name="location"></select>-->
                                        <!--<div class="form-group col-md-6">-->
                                        <!--<div class="bfh-selectbox bfh-countries" data-country="HK" data-flags="true"-->
                                        <!--data-name="location"></div>-->
                                        <!--</div>-->
                                        <div class="col-md-6 form-group">
                                            <input name="contactNo" id="contactNo" placeholder="聯絡電話"
                                                   class="form-control"
                                                   value="<% if(student._creator){ %> <%= student._creator.user_phone %> <% } %>"
                                                   type="number" required
                                                   style="-moz-appearance:textfield;"
                                                    >
                                        </div>
                                        <!--<div class="form-group col-md-12">-->
                                        <!--<input class="form-control" id="phone" type="tel" name="tel"-->
                                        <!--placeholder="電話號碼 *">-->
                                        <!--</div>-->
                                    </div>
                                    <!-- end .row -->
                                </div>
                                <!-- end .col-md-12 -->
                            </fieldset>

                            <h1>學生資料</h1>
                            <fieldset style="display: block;padding-right: 0px;">
                                <div>
                                    <legend><span>學生資料</span></legend>
                                </div>
                                <div class="col-md-12">
                                    <div class="row formContainer" style="    padding-right: 0px;    padding-left: 0px;"
                                            >
                                        <!--<div class="col-md-6 form-group ">-->
                                        <!--<input type="text" name="student-area" id="tutor-area"-->
                                        <!--placeholder="Student Area"-->
                                        <!--class="form-control">-->
                                        <!--</div>-->

                                        <!--<div class="checkboxContainer">-->
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <input type="number" name="studentExpectedPrice" id="studentExpectedPrice"
                                                       placeholder="預計費用(港幣/小時)"
                                                       class="form-control" value="<%= tempPrice %>" required min="0" max="100000" style="-moz-appearance:textfield;">
                                            </div>
                                            <% var level = [{value: "P1", word: "小一"}, {
                                                value: "P2",
                                                word: "小二"
                                            }, {value: "P3", word: "小三"}, {value: "P4", word: "小四"}, {
                                                value: "P5",
                                                word: "小五"
                                            }, {value: "P6", word: "小六"}, {value: "S1", word: "中一"}, {
                                                value: "S2",
                                                word: "中二"
                                            }, {value: "S3", word: "中三"}, {value: "S4", word: "中四"}, {
                                                value: "S5",
                                                word: "中五"
                                            }, {value: "S6", word: "中六"}]
                                            %>

                                            <div class="col-md-6 form-group">
                                                <select name="eduLevel" id="eduLevel" class="form-control ff-rounded"
                                                        required>
                                                    <option value="" style="display:none;">教育程度
                                                    </option>
                                                    <%
                                                    for(i in level){
                                                    %>
                                                    <option value="<%= level[i].value %>"
                                                            <% if (level[i].value === tempLevel) { %>
                                                            selected
                                                            <% } %>
                                                            ><%= level[i].word %></option>
                                                    <%
                                                    }
                                                    %>
                                                </select>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-6 form-group">-->
                                        <!--<input type="text" name="studentLevel" id="studentLevel"-->
                                        <!--placeholder="Student Level"-->
                                        <!--class="form-control">-->
                                        <!--</div>-->

                                        <%
                                        var core = ["中國語文", "英國語文", "數學", "通識教育"]

                                        var elective = ["中國文學", "生物", "企業、會計與財務概論",
                                            "英語文學", "化學", "設計與應用科技",
                                            "中國歷史", "物理", "健康管理與社會關懷",
                                            "經濟", "科學 : 組合科學", "資訊及通訊科技",
                                            "倫理與宗教", "科學 : 綜合科學", "科技與生活",
                                            "地理", "音樂",
                                            "歷史", "視覺藝術",
                                            "旅遊與款待", "體育"]
                                        %>
                                        <div class="col-md-6 form-group">
                                            核心科目

                                            <!--<input type="text" name="studentSubject" id="studentSubject"-->
                                            <!--placeholder="Subjects"-->
                                            <!--class="form-control">-->
                                            <div class="checkboxContainer">
                                                <%
                                                for(i in core){ %>

                                                <!--<div class="checkbox i-checks"><label class=""> <div style="position: relative;" class="icheckbox_square-green checked"><input style="position: absolute; opacity: 0;" value="" checked="" type="checkbox"><ins style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" class="iCheck-helper"></ins></div> <i></i> Option two checked </label></div>-->


                                                <input type="checkbox" value="<%= core[i] %>"
                                                       name="core"
                                                        <% for(j in tempSubjectObjs){
                                                        if(core[i] === tempSubjectObjs[j].id){ %>
                                                       checked
                                                        <% break;
                                                        }
                                                        } %>
                                                        /><%= core[i] %><br/>
                                                <% } %>
                                            </div>
                                        </div>
                                        <!--</div>-->


                                        <div class="col-md-6 form-group">
                                            選修科目

                                            <!--<input type="text" name="studentSubject" id="studentSubject"-->
                                            <!--placeholder="Subjects"-->
                                            <!--class="form-control">-->
                                            <div class="checkboxContainer">
                                                <%
                                                for(i in elective){ %>
                                                <input type="checkbox" value="<%= elective[i] %>"
                                                       name="elective"
                                                        <% for(j in tempSubjectObjs){
                                                        if(elective[i] === tempSubjectObjs[j].id){ %>
                                                       checked
                                                        <% break;
                                                        }
                                                        } %>

                                                        /><%= elective[i] %><br/>
                                                <% } %>
                                            </div>
                                        </div>


                                        <div class="col-md-6 form-group">
                                            <label for="gender" class="sr-only">Gender</label>
                                            <select name="tutorGender" id="tutorGender" class="form-control ff-rounded">
                                                <option value="" style="display:none;">要求導師性別(選填)
                                                </option>

                                                <option value="male" <% if(tempTutorGender === 'male'){ %>selected
                                                        <% } %>
                                                        >男
                                                </option>
                                                <option value="female" <% if(tempTutorGender === 'female'){ %>selected
                                                        <% } %>
                                                        >女
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            補習日子
                                            <!--<input type="text" name="tutor-available-time" id="tutor-available-time"-->
                                            <!--placeholder="Tutor Available Time"-->
                                            <!--class="form-control">-->
                                            <% var days = [{value: "M", word: "星期一"}, {
                                                value: "T",
                                                word: "星期二"
                                            }, {value: "W", word: "星期三"}, {value: "R", word: "星期四"}, {
                                                value: "F",
                                                word: "星期五"
                                            }, {value: "Sat", word: "星期六"}, {value: "Sun", word: "星期日"}]
                                                    for(i in days){ %>
                                            <input type="checkbox" value="<%= days[i].value %>"
                                                   name="checkboxDays"
                                                    <% for(j in tempDayObjs){
                                                    if(days[i].value === tempDayObjs[j].id){ %>
                                                   checked
                                                    <% break;
                                                    }
                                                    } %>

                                                    /><%= days[i].word %>
                                            <% }
                                            %>

                                        </div>


                                        <div class="form-group col-md-3">
                                            <div class="bfh-datepicker" data-placeholder="Choose end day"
                                                 data-input="form-control" data-format="d-m-y" data-date="today"
                                                 data-min="today" data-name="date"></div>
                                        </div>

                                    </div>
                                    <!-- end .row -->
                                </div>
                                <!-- end .col-md-12 -->
                            </fieldset>


                            <h1>補習地區</h1>
                            <fieldset style="display: block;padding-right: 0px;">
                                <div>
                                    <legend><span>補習地區</span></legend>
                                </div>
                                <% var hkIsland = ["全香港島", "上環", "大坑", "山頂", "中環", "蘇豪", "蘭桂坊", "天后", "太古", "北角", "半山", "石澳", "西環", "赤柱", "金鐘", "柴灣", "灣仔", "西灣河", "杏花村", "香港仔", "淺水灣", "深水灣", "跑馬地", "筲箕灣", "銅鑼灣", "鴨脷洲", "薄扶林", "數碼港", "鰂魚涌"];

                                var kowloon = ["全九龍", "太子", "佐敦", "旺角", "油塘", "紅磡", "美孚", "彩虹", "樂富", "藍田", "觀塘", "九龍城", "九龍塘", "九龍灣", "土瓜灣", "大角咀", "牛頭角", "石硤尾", "尖沙咀", "諾士佛臺", "何文田", "油麻地", "長沙灣", "荔枝角", "深水埗", "黃大仙", "慈雲山", "新蒲崗", "鯉魚門", "鑽石山"]


                                var newT = ["全新界", "上水", "大埔", "大圍", "元朗", "太和", "屯門", "火炭", "西貢", "沙田", "青衣", "粉嶺", "荃灣", "馬灣", "深井", "葵芳", "葵涌", "羅湖", "天水圍", "流浮山", "馬鞍山", "將軍澳", "落馬洲"]


                                var island = ["全離島", "大澳", "坪洲", "東涌", "長洲", "大嶼山", "赤鱲角", "南丫島", "愉景灣", "蒲苔島"]

                                console.log(hkIsland); %>

                                <div class="formContainer" style="

    padding-right: 0px;
    padding-left: 0px;
">
                                    <div class="col-md-6 " style=" padding-left: 0px; ">
                                        香港島
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in hkIsland){ %>
                                            <input type="checkbox" id="checkboxHKIsland<%= i %>"
                                                   value="<%= hkIsland[i] %>"
                                                   name="checkboxHKIsland"

                                                    <% for(j in tempLocationObjs){
                                                    if(hkIsland[i] === tempLocationObjs[j].id){ %>
                                                   checked
                                                    <% break;
                                                    }
                                                    } %>

                                                    /><%= hkIsland[i] %><br/>
                                            <% } %>

                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        九龍
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in kowloon){ %>
                                            <input type="checkbox" id="checkboxKowloon<%= i %>"
                                                   value="<%= kowloon[i] %>"
                                                   name="checkboxKowloon"

                                                    <% for(j in tempLocationObjs){
                                                    if(kowloon[i] === tempLocationObjs[j].id){ %>
                                                   checked
                                                    <% break;
                                                    }
                                                    } %>
                                                    /><%= kowloon[i] %><br/>
                                            <% } %>

                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 0px; ">
                                        新界
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in newT){ %>
                                            <input type="checkbox" id="checkboxNewT<%= i %>" value="<%= newT[i] %>"
                                                   name="checkboxNewT"
                                                    <% for(j in tempLocationObjs){
                                                    if(newT[i] === tempLocationObjs[j].id){ %>
                                                   checked
                                                    <% break;
                                                    }
                                                    } %>
                                                    /><%= newT[i] %><br/>
                                            <% } %>

                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 0px; ">
                                        離島
                                        <div class="checkboxContainer" class="col-md-6 form-group ">

                                            <%
                                            for(i in island){ %>
                                            <input type="checkbox" id="checkboxIsland<%= i %>" value="<%= island[i] %>"
                                                   name="checkboxIsland"
                                                    <% for(j in tempLocationObjs){
                                                    if(island[i] === tempLocationObjs[j].id){ %>
                                                   checked
                                                    <% break;
                                                    }
                                                    } %>
                                                    /><%= island[i] %><br/>
                                            <% } %>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h1>其他需求</h1>
                            <fieldset style="display: block;padding-right: 0px;">
                                <div>
                                    <legend><span>其他需求</span></legend>
                                </div>



                                <%
                                var startDateObj = new Date(tempEndDays);
                                var endDateObj = new Date(tempEndDays);
                                function getString(dateObj) {
                                    return dateObj.getFullYear() + "/" + dateObj.getMonth() + "/" + dateObj.getDate()
                                }

                                var startDateString = getString(startDateObj);
                                var endDateString = getString(endDateObj);
                                %>
                                <div class="form-group" id="data_5">
                                    <label class="font-noraml">補習日期</label>

                                    <div class="input-daterange input-group" id="datepicker">
                                        <input id="dtpStartId" class="input-sm form-control"
                                               value=" <% if(startDateString && !isNaN(startDateString)){ %> <%= startDateString %>"
                                                <% } %>
                                               type="text" onblur="startDateBlur()" readonly="readonly" style="background:white; cursor:pointer;" onfocus="this.blur()">
                                        <span class="input-group-addon">到</span>
                                        <input id="dtpEndId" class="input-sm form-control" type="text"
                                                <% if(endDateString && !isNaN(endDateString)){ %>
                                               value="<%= endDateString %>"
                                                <% } %>
                                               onblur="endDateBlur()" readonly="readonly" style="background:white;cursor:pointer;" onfocus="this.blur()">

                                    </div>
                                </div>

                                <input type="hidden" id="startDateId" name="dtp_start" value="<%= startDateString %>">
                                <input type="hidden" id="endDateId" name="dtp_end" value="<%= endDateString %>">


                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <textarea class="form-control" rows="5" name="otherRequirement"
                                                  placeholder="其他需求"><%= tempOtherRequirement %></textarea>
                                    </div>

                                </div>

                                <div col="row">
                                    <button type="submit" name="submit" id="submit" style="margin-right: 10px;"
                                            class="btn btn-primary ff-rounded"><%= data.text.finishBtn %>
                                    </button>
                                </div>

                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <%- include('footer') %>
    </div>


</div>
</div>


<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<!--iChecker-->

<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>$(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });</script>

<!-- Steps -->
<script src="js/plugins/staps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="js/plugins/validate/jquery.validate.min.js"></script>


<script>
    $(document).ready(function () {
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
    });
</script>

<!-- Data picker -->
<script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>

<script>
    $(document).ready(function () {
        $('#data_5 .input-daterange').datepicker({
//            keyboardNavigation: false,
//            forceParse: false,
//            autoclose: true
        });

        $('#startDate .input-group.date').datepicker({});
    });

    //    $('#data_5 .input-daterange').datepicker({});
</script>


<script>
    //    $("#submit").click(function () {
    //        alert($("#dtpStartId").val());
    //        alert($("#dtpEndId").val());
    //    })
    var startDateBlur = function () {
        var startVal = $("#dtpStartId").val();
        $("#startDateId").val(startVal)
    }
    var endDateBlur = function () {
        var endVal = $("#dtpEndId").val();
        $("#endDateId").val(endVal);
    }
</script>

</body>

</html>
