<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=data.title%></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">



</head>

<body class="gray-bg" >

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">Tu+</h1>

        </div>
        <h3>免費註冊 Tu+</h3>

        <!--<p>Create account to see it in action.</p>-->

        <form class="m-t" role="form" action="register" method="post">

            <div class="form-group">
                <div class="input-group">
                    <select class=" form-control" name="role" id="roleSelect">
                        <option value="Tutor">導師</option>
                        <option value="Client">家長</option>
                    </select>
                </div>
            </div>

            <div class="form-group <% if( data.warning == "true"){ %>has-error<% } %>">
                <% if(data.warning == "true"){ %>
                <label class="col-sm-12 control-label">Email已被使用</label><br>
                <% } %>
                <input type="email" class="form-control" name="name" placeholder="Email" required="">
            </div>
            <!--<div class="form-group">-->
            <!--<input type="email" class="form-control" placeholder="Email" required="">-->
            <!--</div>-->
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="密碼" required="">
            </div>

            <div class="form-group">
                <!--<div class="input-group">-->

                <input class="form-control" id="phone" name="phone" data-mask="99999999"
                       placeholder="電話" required>
                <!--<label for="phone" class="input-group-addon glyphicon glyphicon-lock"></label>-->
                <!--</div>-->
                <!-- /.input-group -->
            </div>

            <!--<div class="form-group">-->
                <!--<div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy-->
                    <!--</label></div>-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary block full-width m-b">註冊</button>
            <!--<button type="button" class="btn btn-primary" id="showtoast" onclick="toastSuccess()">Show Toast</button>-->
            <p class="text-muted text-center">
                <small>已有帳號?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="/login-page">登入</a>
        </form>
        <p class="m-t">
            <small>一旦點擊註冊，即表示你同意使用條款，而且你也閱讀了數據使用政策，包括 Cookie 的使用。</small>
        </p>
    </div>
</div>

<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script src="js/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript">

    $(function () {
        var i = -1;
        var toastCount = 0;
        var $toastlast;
        var getMessage = function () {
            var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
            return msg;
        };

        $('#showsimple').click(function (){
            // Display a success toast, with a title
            toastr.success('Without any options','Simple notification!')
        });
        $('#showtoast').click(function () {
            var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
            var msg = $('#message').val();
            var title = $('#title').val() || '';
            var $showDuration = $('#showDuration');
            var $hideDuration = $('#hideDuration');
            var $timeOut = $('#timeOut');
            var $extendedTimeOut = $('#extendedTimeOut');
            var $showEasing = $('#showEasing');
            var $hideEasing = $('#hideEasing');
            var $showMethod = $('#showMethod');
            var $hideMethod = $('#hideMethod');
            var toastIndex = toastCount++;
            toastr.options = {
                closeButton: $('#closeButton').prop('checked'),
                debug: $('#debugInfo').prop('checked'),
                progressBar: $('#progressBar').prop('checked'),
                positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                onclick: null
            };
            if ($('#addBehaviorOnToastClick').prop('checked')) {
                toastr.options.onclick = function () {
                    alert('You can perform some custom action after a toast goes away');
                };
            }
            if ($showDuration.val().length) {
                toastr.options.showDuration = $showDuration.val();
            }
            if ($hideDuration.val().length) {
                toastr.options.hideDuration = $hideDuration.val();
            }
            if ($timeOut.val().length) {
                toastr.options.timeOut = $timeOut.val();
            }
            if ($extendedTimeOut.val().length) {
                toastr.options.extendedTimeOut = $extendedTimeOut.val();
            }
            if ($showEasing.val().length) {
                toastr.options.showEasing = $showEasing.val();
            }
            if ($hideEasing.val().length) {
                toastr.options.hideEasing = $hideEasing.val();
            }
            if ($showMethod.val().length) {
                toastr.options.showMethod = $showMethod.val();
            }
            if ($hideMethod.val().length) {
                toastr.options.hideMethod = $hideMethod.val();
            }
            if (!msg) {
                msg = getMessage();
            }
            $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
            );
            var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
            $toastlast = $toast;
            if ($toast.find('#okBtn').length) {
                $toast.delegate('#okBtn', 'click', function () {
                    alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                    $toast.remove();
                });
            }
            if ($toast.find('#surpriseBtn').length) {
                $toast.delegate('#surpriseBtn', 'click', function () {
                    alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                });
            }
        });
        function getLastToast(){
            return $toastlast;
        }
        $('#clearlasttoast').click(function () {
            toastr.clear(getLastToast());
        });
        $('#cleartoasts').click(function () {
            toastr.clear();
        });
    })

    function toastSuccess(){
//        Command: toastr[success](" ", "Register Successful")

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.info("Register Successful");
    }
</script>
</body>

</html>
