<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg" onload="<% if(data.regSuccessful == "true"){ %>
        toastSuccess()
<% } %>">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">Tu+</h1>

        </div>
        <h3>歡迎來到 Tu+</h3>

        <!--<p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.-->
        <!--&lt;!&ndash;Continually expanded and constantly improved Inspinia Admin Them (IN+)&ndash;&gt;-->
        <!--</p>-->

        <!--<p>Login in. To see it in action.</p>-->

        <form class="m-t" role="form" action="/login" method="post">

            <!--<div class="form-group">-->
            <!--<div class="input-group">-->
            <!--<input type="email" class="form-control" id="uLogin" name="name" placeholder="Email"-->
            <!--required>-->
            <!--&lt;!&ndash;<label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.form-group &ndash;&gt;-->

            <!--<div class="form-group">-->
            <!--<div class="input-group">-->
            <!--<input type="password" class="form-control" id="uPassword" name="password"-->
            <!--placeholder="密碼" required>-->
            <!--&lt;!&ndash;<label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.input-group &ndash;&gt;-->
            <!--</div>-->


            <div class="form-group">
                <input type="email" class="form-control" name="name" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="密碼" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">登入</button>

            <!--<a href="#">-->
            <!--<small>Forgot password?</small>-->
            <!--</a>-->

            <p class="text-muted text-center">
                <small>沒有帳號?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="/register-page">創建你的帳號</a>
        </form>
        <p class="m-t">
            <small>Tu - Plus &copy; 2015</small>
        </p>
    </div>
</div>

<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<script src="js/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript">

    $(function () {
        var i = -1;
        var toastCount = 0;
        var $toastlast;
        var getMessage = function () {
            var msg = 'Hi, welcome to Inspinia. This is example of Toastr notification box.';
            return msg;
        };

        $('#showsimple').click(function () {
            // Display a success toast, with a title
            toastr.success('Without any options', 'Simple notification!')
        });
        $('#showtoast').click(function () {
            var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
            var msg = $('#message').val();
            var title = $('#title').val() || '';
            var $showDuration = $('#showDuration');
            var $hideDuration = $('#hideDuration');
            var $timeOut = $('#timeOut');
            var $extendedTimeOut = $('#extendedTimeOut');
            var $showEasing = $('#showEasing');
            var $hideEasing = $('#hideEasing');
            var $showMethod = $('#showMethod');
            var $hideMethod = $('#hideMethod');
            var toastIndex = toastCount++;
            toastr.options = {
                closeButton: $('#closeButton').prop('checked'),
                debug: $('#debugInfo').prop('checked'),
                progressBar: $('#progressBar').prop('checked'),
                positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                onclick: null
            };
            if ($('#addBehaviorOnToastClick').prop('checked')) {
                toastr.options.onclick = function () {
                    alert('You can perform some custom action after a toast goes away');
                };
            }
            if ($showDuration.val().length) {
                toastr.options.showDuration = $showDuration.val();
            }
            if ($hideDuration.val().length) {
                toastr.options.hideDuration = $hideDuration.val();
            }
            if ($timeOut.val().length) {
                toastr.options.timeOut = $timeOut.val();
            }
            if ($extendedTimeOut.val().length) {
                toastr.options.extendedTimeOut = $extendedTimeOut.val();
            }
            if ($showEasing.val().length) {
                toastr.options.showEasing = $showEasing.val();
            }
            if ($hideEasing.val().length) {
                toastr.options.hideEasing = $hideEasing.val();
            }

            if ($showMethod.val().length) {
                toastr.options.showMethod = $showMethod.val();
            }
            if ($hideMethod.val().length) {
                toastr.options.hideMethod = $hideMethod.val();
            }
            if (!msg) {
                msg = getMessage();
            }
            $("#toastrOptions").text("Command: toastr["
                    + shortCutFunction
                    + "](\""
                    + msg
                    + (title ? "\", \"" + title : '')
                    + "\")\n\ntoastr.options = "
                    + JSON.stringify(toastr.options, null, 2)
            );
            var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
            $toastlast = $toast;
            if ($toast.find('#okBtn').length) {
                $toast.delegate('#okBtn', 'click', function () {
                    alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                    $toast.remove();
                });
            }
            if ($toast.find('#surpriseBtn').length) {
                $toast.delegate('#surpriseBtn', 'click', function () {
                    alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                });
            }
        });

        function getLastToast() {
            return $toastlast;
        }

        $('#clearlasttoast').click(function () {
            toastr.clear(getLastToast());
        });
        $('#cleartoasts').click(function () {
            toastr.clear();
        });
    })

    function toastSuccess() {
//        Command: toastr[success](" ", "Register Successful")

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.info("Register Successful");
    }
</script>
</body>

</html>
