<!DOCTYPE html>
<html>
<%
var students = data.doc;
var testStudent = students[0];
//console.log("testStudent: " + testStudent);
%>

<% level = [{value: "P1", word: "小一"}, {
    value: "P2",
    word: "小二"
}, {value: "P3", word: "小三"}, {value: "P4", word: "小四"}, {
    value: "P5",
    word: "小五"
}, {value: "P6", word: "小六"}, {value: "S1", word: "中一"}, {
    value: "S2",
    word: "中二"
}, {value: "S3", word: "中三"}, {value: "S4", word: "中四"}, {
    value: "S5",
    word: "中五"
}, {value: "S6", word: "中六"}] %>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>管理學生</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="
    padding-left: 0px;
    padding-right: 0px;
">
                <div class="wrapper wrapper-content animated fadeInUp" style="
    padding-left: 0px;
    padding-right: 0px;
">

                    <div class="ibox">
                        <div class="ibox-title">
                            <!--<h5>All projects assigned to this account</h5>-->
                            <div class="ibox-tools">
                                <a href="/new-student" class="btn btn-primary btn-xs">新增學生</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <!--<div class="row m-b-sm m-t-sm">-->
                            <!--<div class="col-md-1">-->
                            <!--<button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i-->
                            <!--class="fa fa-refresh"></i> Refresh-->
                            <!--</button>-->
                            <!--</div>-->
                            <!--<div class="col-md-11">-->
                            <!--<div class="input-group"><input type="text" placeholder="Search"-->
                            <!--class="input-sm form-control"> <span-->
                            <!--class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>

                                    <% var length = data.doc
                                    //                                    console.log("data.doc: " + data.doc);
                                    //                                    console.log("length: " + length);

                                            for (i in students) {
                                        var tempLevel = students[i].student_level;
                                        var tempGender = students[i].student_gender;
                                        var tempID = students[i]._id;
                                        var status = students[i].status;
//                                        console.log("tempLevel: " + tempLevel);
//                                        console.log("tempGender: " + tempGender);
//                                        console.log("students:" + students);
                                    %>


                                    %>
                                    <tr>

                                        <% function getLabelWord(status) {
                                            if (!status  || status=="processing") {
                                                return "進行中";
                                            } else if(status=="removed"){
                                                return "關閉"
                                            }else  if(status=="success"){
                                                return "成功"
                                            }else{
                                                return status
                                            }
                                        }
                                            function getLabelType(status) {
                                                if (!status || status=="processing") {
                                                    return " label-primary";
                                                } else if(status=="removed"){
                                                    return "label-success"
                                                }else {
                                                    return " label-default"
                                                }
                                            } %>
                                        <td class="project-status">
                                            <span class="label <%= getLabelType(status) %>">
                                                <%= getLabelWord(status) %>
                                            </span>
                                        </td>


                                        <td class="project-title">
                                            <a href="project_detail.html">
                                                <%
                                                    var finalWords;
                                                    for (k in level) {
                                                        if (level[k].value === tempLevel) {
                                                            finalWords = level[k].word;
                                                            break;
                                                        }
                                                    }
                                                %>
                                                <%= finalWords %></a>
                                            <br/>
                                            <small>
                                                <% if( tempGender === 'female'){ %>
                                                女
                                                <% }else if(tempGender === 'male'){ %>
                                                男
                                                <% } %>
                                            </small>
                                        </td>
                                        <!--<td class="project-completion">-->
                                        <!--<small>Completion with: 48%</small>-->
                                        <!--<div class="progress progress-mini">-->
                                        <!--<div style="width: 48%;" class="progress-bar"></div>-->
                                        <!--</div>-->
                                        <!--</td>-->
                                        <!--<td class="project-people">-->
                                        <!--<a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>-->
                                        <!--<a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>-->
                                        <!--<a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>-->
                                        <!--<a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>-->
                                        <!--<a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>-->
                                        <!--</td>-->
                                        <td class="project-actions">

                                            <%if(status=="success"){%>
                                            <a href="post-detail?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-folder"></i> 查看 </a>
                                            <a href="/process-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-pencil"></i> 繼續項目 </a>
                                            <%}else if(status=="removed"){%>
                                            <a href="/edit-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-pencil"></i> 修改 </a>
                                            <a href="/success-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-pencil"></i> 成功 </a>
                                            <a href="/process-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-pencil"></i> 繼續項目 </a>

                                            <%}else {//processing%>
                                            <a href="/edit-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-pencil"></i> 修改 </a>

                                            <a href="/success-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-pencil"></i> 成功 </a>
                                            <!--<a href="/remove-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i-->
                                            <!--class="fa fa-pencil"></i> 刪除 </a>-->
                                            <a href="/remove-student?id=<%= tempID %>" class="btn btn-white btn-sm"><i
                                                        class="fa fa-pencil"></i> 關閉 </a>
                                            <%}%>



                                        </td>
                                    </tr>

                                    <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') %>

    </div>
</div>

<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<script>
    $(document).ready(function () {

        $('#loading-example-btn').click(function () {
            btn = $(this);
            simpleLoad(btn, true)

            // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

            simpleLoad(btn, false)
        });
    });

    function simpleLoad(btn, state) {
        if (state) {
            btn.children().addClass('fa-spin');
            btn.contents().last().replaceWith(" Loading");
        } else {
            setTimeout(function () {
                btn.children().removeClass('fa-spin');
                btn.contents().last().replaceWith(" Refresh");
            }, 2000);
        }
    }
</script>
</body>

</html>
