<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

        <!--<form role="search" class="navbar-form-custom" method="post" action="search_results.html">-->
        <!--<div class="form-group">-->
        <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search"-->
        <!--id="top-search">-->
        <!--</div>-->
        <!--</form>-->
    </div>
    <ul class="nav navbar-top-links navbar-right">

        <li>
            <% if(data.user){ %>

            <span class="m-r-sm text-muted welcome-message"> <a
                        <% if(data.user.user_type === 'Client'){ %>
                        data-toggle="dropdown" class="dropdown-toggle"
                        href="#"
                        <% }else if(data.user.user_type === 'Tutor'){ %>
                        href="/edit-tutor"
                        <% } %>
                        >你好,<%= data.user.user_name %>
                </a>
                <% if(data.user.user_type === 'Client'){ %>
                <ul class="dropdown-menu animated fadeInRight m-t-xs" style="//z-index:20">
                    <li><a href="new-student">增加學生</a></li>
                    <li><a href="/manage-students">管理學生</a></li>
                    <li><a href="/edit-client">修改個人資料</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">登出</a></li>
                </ul>
                <% } %>
            </span>
            <% }else{ %>
            <span class="m-r-sm text-muted welcome-message">歡迎來到 Tu+</span>
            <% } %>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a7.jpg">
                        </a>

                        <div class="media-body">
                            <small class="pull-right">46h ago</small>
                            <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                            <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a4.jpg">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right text-navy">5h ago</small>
                            <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>.
                            <br>
                            <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="dropdown-messages-box">
                        <a href="profile.html" class="pull-left">
                            <img alt="image" class="img-circle" src="img/profile.jpg">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">23h ago</small>
                            <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                            <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                        </div>
                    </div>
                </li>
                <li class="divider"></li>
                <li>
                    <div class="text-center link-block">
                        <a href="mailbox.html">
                            <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">-->
                <!--<i class="fa fa-bell"></i> <span class="label label-primary">8</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-alerts">-->
                <!--<li>-->
                    <!--<a href="mailbox.html">-->
                        <!--<div>-->
                            <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="profile.html">-->
                        <!--<div>-->
                            <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                            <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="grid_options.html">-->
                        <!--<div>-->
                            <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<div class="text-center link-block">-->
                        <!--<a href="notifications.html">-->
                            <!--<strong>See All Alerts</strong>-->
                            <!--<i class="fa fa-angle-right"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->

        <% if(data.user){ %>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out"></i> 登出
            </a>
        </li>
        <% }else{ %>
        <li>
            <a href="/new-student">
                <i class="fa fa-plus"></i> 新增學生
            </a>
        </li>
        <li>
            <a href="/register-page">
                <i class="fa fa-sign-in"></i> 註冊
            </a>
        </li>
        <li>
            <a href="/login-page">
                <i class="fa fa-sign-in"></i> 登入
            </a>
        </li>
        <% } %>

    </ul>

</nav>