<!DOCTYPE html>
<% level = [{value: "P1", word: "小一"}, {
    value: "P2",
    word: "小二"
}, {value: "P3", word: "小三"}, {value: "P4", word: "小四"}, {
    value: "P5",
    word: "小五"
}, {value: "P6", word: "小六"}, {value: "S1", word: "中一"}, {
    value: "S2",
    word: "中二"
}, {value: "S3", word: "中三"}, {value: "S4", word: "中四"}, {
    value: "S5",
    word: "中五"
}, {value: "S6", word: "中六"}] %>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2>學生</h2>
                <!--<ol class="breadcrumb">-->
                <!--<li>-->
                <!--<a href="index.html">Home</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--App Views-->
                <!--</li>-->
                <!--<li class="active">-->
                <!--<strong>學生</strong>-->
                <!--</li>-->
                <!--</ol>-->
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div id="container">
                <%
                var length = data.doc.length;
                var width = 3;
                var height = Math.floor(length / width) + 1;

                for(var i = 0;i < height;i++){ %>
                <!--<div class="row">-->

                <% for(var j = 0;j < width;j++){

                    if ((i * width + j) >= length) {

                        break;
                    }

                if(data.doc[i * width + j].status != "removed"){
                %>
                <div class="grid">
                    <div class="col-lg-12" style="padding-left: 0px;">
                        <div class="contact-box" style="  ">
                            <a href="/post-detail?id=<%= data.doc[i * width + j]._id %>">
                                <!--<div class="col-sm-4">-->
                                <!--<div class="text-center">-->
                                <!--&lt;!&ndash;<img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">&ndash;&gt;-->

                                <!--&lt;!&ndash;<div class="m-t-xs font-bold">&ndash;&gt;-->
                                <!--&lt;!&ndash; &ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="col-sm-12">

                                    <% if(data.doc[i * width + j].student_gender){ %>
                                    <div class="post-summary">
                                        <strong>
                                            <% var targetLevel = data.doc[i * width + j].student_level;
                                                var finalWords;
                                                for (k in level) {
                                                    if (level[k].value === targetLevel) {
                                                        finalWords = level[k].word;
                                                        break;
                                                    }
                                                }
                                            %>
                                            <%= finalWords %>
                                            &nbsp;
                                            <% if( data.doc[i * width + j].student_gender === 'female'){ %>
                                            女
                                            <% }else{ %>
                                            男
                                            <% } %>
                                        </strong>
                                    </div>
                                    <% } %>

                                    <% if( data.doc[i * width + j].student_expected_hr_price ){ %>
                                    <div class="post-summary">
                                        <p>預計費用(港幣/小時):<%= data.doc[i * width + j].student_expected_hr_price %></p>
                                    </div>

                                    <% } %>

                                    <% if(data.doc[i * width + j].student_subject.length >= 1){ %>
                                    <div class="post-summary">
                                        <p>科目:

                                            <% for(var k = 0 ;k < data.doc[i * width + j].student_subject.length;k++){ %>
                                            <%= data.doc[i * width + j].student_subject[k].id %>

                                            <%
                                            if(k !== data.doc[i * width + j].student_subject.length - 1){ %>
                                            ,
                                            <% }
                                            } %>
                                        </p>
                                    </div>

                                    <% } %>

                                    <% var days = [{value: "M", word: "星期一"}, {
                                        value: "T",
                                        word: "星期二"
                                    }, {value: "W", word: "星期三"}, {value: "R", word: "星期四"}, {
                                        value: "F",
                                        word: "星期五"
                                    }, {value: "Sat", word: "星期六"}, {value: "Sun", word: "星期日"}]

                                        function getDaysWord(value) {
                                            for (var i in days) {
                                                if (days[i].value == value) {
                                                    return days[i].word;
                                                }
                                            }
                                        }
                                    %>

                                    <% if( data.doc[i * width + j].student_days.length >= 1){ %>
                                    <div class="post-summary">
                                        <p>補習日子:

                                            <% for(var k = 0 ;k < data.doc[i * width + j].student_days.length;k++){ %>

                                            <%= getDaysWord(data.doc[i * width + j].student_days[k].id) %>

                                            <%
                                            if(k !== data.doc[i * width + j].student_days.length - 1){ %>
                                            ,
                                            <% }
                                            } %>
                                        </p>
                                    </div>
                                    <% } %>

                                    <% if(data.doc[i * width + j].student_area.length >= 1){ %>
                                    <div class="post-summary">
                                        <p><i class="fa fa-map-marker"></i>地區:

                                            <% for(var k = 0 ;k < data.doc[i * width + j].student_area.length;k++){ %>
                                            <%= data.doc[i * width + j].student_area[k].id %>

                                            <%
                                            if(k !== data.doc[i * width + j].student_area.length - 1){ %>
                                            ,
                                            <% }
                                            } %>

                                        </p>

                                    </div>

                                    <% } %>

                                    <% if(data.doc[i * width + j].tutor_gender_requirement ){ %>
                                    <div class="post-summary">
                                        <p>
                                            要求導師性別:
                                            <% if( data.doc[i * width + j].tutor_gender_requirement === 'female'){ %>
                                            女
                                            <% }else{ %>
                                            男
                                            <% } %>
                                        </p>
                                    </div>

                                    <% } %>
                                    <% if(data.doc[i * width + j].start_time && data.doc[i * width + j].end_time){ %>
                                    <div class="post-summary">
                                        <p>補習期:
                                            <%
                                                var tempStartTime = data.doc[i * width + j].start_time;
                                                var tempEndTime = data.doc[i * width + j].end_time;

                                                console.log("tempStartTime: " + tempStartTime);
                                                console.log("tempEndTime: " + tempEndTime);

                                                var startDateObj = new Date(tempStartTime);
//                        var startDateString=startDateObj.getFullYear()+"-"+ startDateObj.getMonth()+"-"+startDateObj.getDate()
                                                var endDateObj = new Date(tempEndTime);
                                                function getString(dateObj) {
                                                    return dateObj.getFullYear() + "/" + (parseInt(dateObj.getMonth()) + 1) + "/" + dateObj.getDate()
                                                }

                                                var startDateString = getString(startDateObj);
                                                var endDateString = getString(endDateObj);
                                            %>
                                            <% if( tempStartTime !== null && tempEndTime !== null){ %>
                                            <%= startDateString %> ~ <%= endDateString %>
                                            <% } %>
                                        </p>

                                    </div>

                                    <% } %>

                                    <% if(data.doc[i * width + j].other_requirement ){ %>
                                    <div class="post-summary">
                                        <p>其他需求:
                                            <%= data.doc[i * width + j].other_requirement %>
                                        </p>

                                    </div>
                                    <% } %>

                                    <% if(data.doc[i * width + j]._creator && data.doc[i * width + j]._creator.user_phone){ %>
                                    <div class="post-summary">
                                        <p>家長電話:
                                            <%= data.doc[i * width + j]._creator.user_phone %>
                                        </p>

                                    </div>
                                    <% }else if(data.doc[i * width + j].single_student_phone){ %>

                                    <div class="post-summary">
                                        <p>家長電話:
                                            <%= data.doc[i * width + j].single_student_phone %>
                                        </p>

                                    </div>
                                    <% } %>
                                    <button type="button" class="btn btn-primary " style="float: right;">
                                        $<%= data.doc[i * width + j].student_expected_hr_price %> / 小時
                                    </button>

                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <% } } %>
                <!--</div>-->

                <% } %>

            </div>
        </div>
        <%- include('footer') %>
    </div>

    <!-- Mainly scripts -->
    <%- include('mainly-scripts.ejs') %>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>


    <script>
        $(document).ready(function () {
            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });
        });
    </script>


    <%- include('grid-libs.ejs') %>

    <script>
        var canSendRequest = true;


        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
//                alert();
                if (canSendRequest == true) {
                    canSendRequest = false;
                    var request = $.ajax({
                        method: "GET",
                        url: "<%=data.config.apiURL.getMoreStudentsPost%>?offset=3",
                        dataType: "",
                        data: {}

                    })
//                    alert("request");
                }

                request.done(function (msg) {
                    console.log("msg:" + msg);
                    canSendRequest = true;
                    $("#container").append(msg);


                    $('#container').BlocksIt('reload');
//                    alert("response");
                })
            }
        });


    </script>

</body>

</html>
