<!DOCTYPE html>
<%
function getLevelWord(value) {
    var level = [{value: "P1", word: "小一"}, {
        value: "P2",
        word: "小二"
    }, {value: "P3", word: "小三"}, {value: "P4", word: "小四"}, {
        value: "P5",
        word: "小五"
    }, {value: "P6", word: "小六"}, {value: "S1", word: "中一"}, {
        value: "S2",
        word: "中二"
    }, {value: "S3", word: "中三"}, {value: "S4", word: "中四"}, {
        value: "S5",
        word: "中五"
    }, {value: "S6", word: "中六"}]

    for (var i in level) {

        if (value == level[i].value) {
            return level[i].word

        }

    }
}
%>
<%
function getEduLevelWord(value) {
    var eduLevel = [{value: "S5", word: "中五畢業"}, {
        value: "S7",
        word: "中七畢業"
    }, {value: "S6", word: "高中畢業 (DSE)"}, {
        value: "UND",
        word: "大學生(非學位)"
    }, {value: "UD", word: "大學生(學位)"}, {
        value: "UGrad",
        word: "大學畢業"
    }, {value: "Master", word: "碩士學位"}, {value: "Doctor", word: "博士學位"}];

    for (var i in eduLevel) {

        if (value == eduLevel[i].value) {
            return eduLevel[i].word

        }

    }

}
%>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.title %></title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2>導師</h2>

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div id="container">
                <%
                var length = data.doc.length;
                console.log("======================");
                console.log("length:" + length);
                //                console.log("1st tutor:" + data.doc[0]);
                var width = 3;
                var height = Math.floor(length / width) + 1;

                for(var j = 0;j < length;j++){ %>
                <!--<div class="row ">-->
                <%
//                for(var j = 0;j < width;j++){
                    var count = j;
//                    var count = i * width + j;

                    currentObj = data.doc[count]
                    console.log("count=" + count);
//                    if ((i * width + j) >= length) {
//                        console.log("break");
//                    console.log("i:"+i);
//                        break;
//                    }
                %>

                <%
//                    console.log("i: " + i + " width: " + width + " j:" + j + " data.doc[i * width + j]" + count)
                    var lastNamedata = currentObj.user_last_name;
//    data.doc[i*4+j].user_first_name ;
                    var tempGender = currentObj.tutor_gender;

                    var tempTel = currentObj.user_phone;
                    var tempLocation = currentObj.tutor_area
                    //user.tutor_expected_hr_salary
                    var tempTutorialLevel = currentObj.tutor_teach_level
//    data.doc[i*4+j].tutor_gender
                    var tempSubject = currentObj.tutor_subject;
                    var tempPublicExamResult = currentObj.tutor_public_exam_detail;
                    var tempTutorialDays = currentObj.tutor_available_days;

                    var tempOtherDescriptions = currentObj.tutor_other_detail;
                    var tempEduLevel = currentObj.tutor_edu_level;
                %>
                <div class="grid">
                    <div class="col-lg-12">
                        <div class="contact-box">
                            <a href="/tutor-detail?id=<%= currentObj._id %>">
                                <div class="col-sm-12">

                                    <div class="post-title">
                                        <h3><%= currentObj.user_name %>&nbsp;
                                            <% if(tempGender === 'female'){ %>
                                            女
                                            <% }else if(tempGender === 'male'){ %>
                                            男
                                            <% } %>

                                        </h3>
                                    </div>

                                    <% if(currentObj.user_dob ){ %>
                                    <div class="post-summary">
                                        <p><%= currentObj.user_dob %></p>
                                    </div>
                                    <% } %>

                                    <% if(tempTel){ %>
                                    <div class="post-summary">
                                        <p>聯絡電話:<%= tempTel %></p>
                                    </div>
                                    <% } %>

                                    <% if(tempLocation.length >= 1){ %>
                                    <div class="post-summary">

                                        <p> 補習地區:<%= tempLocation %></p>
                                    </div>
                                    <% } %>

                                    <%
                                    if(tempTutorialLevel){
                                    if(tempTutorialLevel.length >= 1){ %>
                                    <div class="post-summary">

                                        <p> 任教程度:
                                            <% for(var i = 0;i < tempTutorialLevel.length;i++){ %>
                                            <%= getLevelWord(tempTutorialLevel[i]) %>
                                            <% } %>
                                        </p>

                                    </div>
                                    <% }
                                    }
                                    %>
                                    <%
                                    if(tempSubject){
                                    if(tempSubject.length >= 1){ %>
                                    <div class="post-summary">

                                        <p> 科目:<%= tempSubject %></p>
                                    </div>
                                    <% }
                                    }
                                    %>

                                    <% if(tempPublicExamResult){ %>
                                    <div class="post-summary">

                                        <p> 公開考試:<%= tempPublicExamResult %></p>
                                    </div>
                                    <% } %>

                                    <%
                                        function getDaysWord(value) {
                                            var days = [{value: "M", word: "星期一"}, {
                                                value: "T",
                                                word: "星期二"
                                            }, {value: "W", word: "星期三"}, {value: "R", word: "星期四"}, {
                                                value: "F",
                                                word: "星期五"
                                            }, {value: "Sat", word: "星期六"}, {value: "Sun", word: "星期日"}]
                                            for (var i in days) {
                                                if (days[i].value == value) {
                                                    return days[i].word;
                                                }
                                            }
                                        }
                                    %>

                                    <% if(tempTutorialDays.length >= 1){ %>
                                    <div class="post-summary">


                                        <p> 可任教日子:
                                            <% for(var i in tempTutorialDays){ %>
                                            <%= getDaysWord(tempTutorialDays[i]) %>
                                            <% } %>
                                        </p>
                                    </div>
                                    <% } %>
                                    <% if(tempOtherDescriptions){ %>
                                    <div class="post-summary">

                                        <p> 其他:<%= tempOtherDescriptions %></p>
                                    </div>
                                    <% } %>

                                    <% if(tempEduLevel){ %>
                                    <div class="post-summary">

                                        <p> 教育程度:

                                            <%= getEduLevelWord(tempEduLevel) %>

                                        </p>

                                    </div>
                                    <% } %>
                                    <button type="button" class="btn btn-primary " style="float:right">詳細資料</button>
                                    <!--<h3><strong>Alex Johnatan</strong></h3>-->

                                    <!--<p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>-->
                                    <!--<address>-->
                                    <!--<strong>Twitter, Inc.</strong><br>-->
                                    <!--795 Folsom Ave, Suite 600<br>-->
                                    <!--San Francisco, CA 94107<br>-->
                                    <!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
                                    <!--</address>-->
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <% //}           %>
                <!--</div>-->

                <% } %>

            </div>

        </div>
        <%- include('footer') %>
    </div>

    <!--</div>-->
</div>

<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>


<script>
    $(document).ready(function () {
        $('.contact-box').each(function () {
            animationHover(this, 'pulse');
        });
    });
</script>
<%- include('grid-libs.ejs') %>
</body>

</html>
