<!DOCTYPE html>

<%
//console.log("data.doc: " + data.doc)
//console.log("data.doc.student_level: " + data.doc[0].student_level)
var tutor = data.doc[0];
var status = tutor.status;
var userName = tutor.user_name;
var dob = tutor.user_dob;
var phone = tutor.user_phone
var createTime = parseInt(tutor.user_create_time)
var createTimeDate = new Date(createTime);
var creatTimeString = createTimeDate.getUTCDay() + "/" + (createTimeDate.getMonth() + 1) + "/" + createTimeDate.getFullYear()

var tutorArea = tutor.tutor_area
var teachLevel = tutor.tutor_teach_level
var gender = tutor.tutor_gender
var subject = tutor.tutor_subject
var publicExam = tutor.tutor_public_exam_detail
var availableDays = tutor.tutor_available_days
var other = tutor.tutor_other_detail
var eduLevel = tutor.tutor_edu_level;
var tutorRating = tutor.tutor_rating;
var commentObjs = tutor.comment;
var id = tutor._id
var totalMark = 0;
var markRecordObj = tutor.mark;
if (markRecordObj  instanceof Array) {

} else {
//    markRecordObj = [markRecordObj];
}


console.log("markRecordObj:" + markRecordObj);

if (markRecordObj instanceof Array) {
    console.log("isArray");
    for (var i = 0; i < markRecordObj.length; i++) {
        totalMark = totalMark + markRecordObj[i].mark
        console.log("markRecordObj[i]" + markRecordObj[i]);
    }

    console.log("totalMark:" + totalMark);
    var mark = totalMark / markRecordObj.length;
} else {
    console.log("isNotArray");
    mark = markRecordObj.mark
}


console.log("mark:" + mark);
%>
<%
function getDaysWord(value) {
    var days = [{value: "M", word: "星期一"}, {
        value: "T",
        word: "星期二"
    }, {value: "W", word: "星期三"}, {value: "R", word: "星期四"}, {
        value: "F",
        word: "星期五"
    }, {value: "Sat", word: "星期六"}, {value: "Sun", word: "星期日"}]
    for (var i in days) {
        if (days[i].value == value) {
            return days[i].word;
        }
    }
}
%>
<%
function getEduLevelWord(value) {
    var eduLevel = [{value: "S5", word: "中五畢業"}, {
        value: "S7",
        word: "中七畢業"
    }, {value: "S6", word: "高中畢業 (DSE)"}, {
        value: "UND",
        word: "大學生(非學位)"
    }, {value: "UD", word: "大學生(學位)"}, {
        value: "UGrad",
        word: "大學畢業"
    }, {value: "Master", word: "碩士學位"}, {value: "Doctor", word: "博士學位"}];

    for (var i in eduLevel) {

        if (value == eduLevel[i].value) {
            return eduLevel[i].word

        }

    }

}
%>
<%
function getLevelWord(value) {
    var level = [{value: "P1", word: "小一"}, {
        value: "P2",
        word: "小二"
    }, {value: "P3", word: "小三"}, {value: "P4", word: "小四"}, {
        value: "P5",
        word: "小五"
    }, {value: "P6", word: "小六"}, {value: "S1", word: "中一"}, {
        value: "S2",
        word: "中二"
    }, {value: "S3", word: "中三"}, {value: "S4", word: "中四"}, {
        value: "S5",
        word: "中五"
    }, {value: "S6", word: "中六"}]

    for (var i in level) {

        if (value == level[i].value) {
            return level[i].word

        }

    }
}
%>


<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= data.title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
</head>
<link href="css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">

<body>

<div id="wrapper">

    <%- include('col-nav.ejs',{data:data}) %>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <%- include('row-nav.ejs',{data:data}) %>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>導師資料</h2>
                <!--<ol class="breadcrumb">-->
                <!--<li>-->
                <!--<a href="index.html">Home</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                <!--<strong>Project detail</strong>-->
                <!--</li>-->
                <!--</ol>-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">

                                        <%
                                        if (data.user){
                                        if(data.user._id === id){ %>
                                        <a href="/edit-tutor" class="btn btn-white btn-xs pull-right">Edit </a>
                                        <% }} %>
                                        <h2><%= userName %>&nbsp;
                                            <% if(gender === 'female'){ %>
                                            女
                                            <% }else if(gender === 'male'){ %>
                                            男
                                            <% } %>
                                        </h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <% if(status && status == "true"){ %>
                                        <dt>認證:</dt>
                                        <dd><span class="label label-primary">已認證</span></dd>
                                        <% } %>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">

                                        <% if(tutorArea.length >= 1){ %>

                                        <dt>地區:</dt>
                                        <dd><%= tutorArea %></dd>
                                        <br>
                                        <% } %>

                                        <% if(tutorArea.length >= 1){ %>
                                        <dt>日期:</dt>
                                        <dd>
                                            <% for(i = 0;i < availableDays.length;i++){ %>
                                            <%= getDaysWord(availableDays[i]) %>
                                            <% } %>
                                        </dd>
                                        <br>
                                        <% } %>

                                        <%
                                        if(subject){
                                        if(subject.length >= 1){ %>

                                        <dt>科目:</dt>
                                        <dd>
                                            <% for(i = 0;i < subject.length;i++){ %>
                                            <%= subject[i] %>
                                            <% } %>
                                        </dd>
                                        <br>
                                        <% }} %>

                                        <%
                                        if(teachLevel){
                                        if(teachLevel.length >= 1){ %>

                                        <dt>任教程度:</dt>
                                        <dd>
                                            <% for(i = 0;i < teachLevel.length;i++){ %>
                                            <%= getLevelWord(teachLevel[i]) %>
                                            <% } %>
                                        </dd>
                                        <br>
                                        <% }} %>

                                        <dt>創建時間:</dt>
                                        <dd><%= creatTimeString %>
                                        </dd>
                                        <br>

                                        <% if(eduLevel) { %>
                                        <dt>教育程度:</dt>
                                        <dd><%= getEduLevelWord(eduLevel) %>
                                        </dd>
                                        <br>
                                        <% } %>

                                        <% if(publicExam) { %>
                                        <dt>公開考試資料:</dt>
                                        <dd><%= publicExam %>
                                        </dd>
                                        <br>
                                        <% } %>

                                        <% if(other) { %>
                                        <dt>其他資料:</dt>
                                        <dd><%= other %>
                                        </dd>
                                        <br>
                                        <% } %>
                                    </dl>
                                </div>
                                <!--<div class="col-lg-7" id="cluster_info">-->
                                <!--<dl class="dl-horizontal">-->

                                <!--<dt>Last Updated:</dt>-->
                                <!--<dd>16.08.2014 12:15:57</dd>-->
                                <!--<dt>Created:</dt>-->
                                <!--<dd> 10.07.2014 23:36:57</dd>-->
                                <!--<dt>Participants:</dt>-->
                                <!--<dd class="project-people">-->
                                <!--<a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>-->
                                <!--<a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>-->
                                <!--</dd>-->
                                <!--</dl>-->
                                <!--</div>-->
                            </div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <dt>家長評分:
                                        <% if(isNaN(mark)){ %>
                                        (未有評分)
                                        <% }else{ %>
                                        <%= mark %>
                                        <% } %>

                                    </dt>
                                    <dd>
                                        <div class="progress progress-striped active m-b-sm">
                                            <div style="width: <%= mark / 5 * 100 %>%;" class="progress-bar"></div>
                                        </div>
                                        <!--<small><strong>60%</strong>-->
                                        <!--</small>-->
                                    </dd>
                                    </dl>
                                </div>
                            </div>

                            <% if(data.user){

                            if(data.user.user_type == "Client"){
                                var marked = false;

                                if (markRecordObj instanceof Array) {
                                    console.log("markRecordObj is Array");
                                    console.log("markRecordObj.length" + markRecordObj.length);
                                    for (var i = 0; i < markRecordObj.length; i++) {
                                        console.log("=======================");
                                        console.log(markRecordObj[i].mark_creator)
                                        console.log(data.user._id);
                                        console.log(" ");
                                        if (markRecordObj[i].mark_creator == data.user._id) {

                                            marked = true;
                                            break;
                                        }
                                    }
                                } else {
                                    console.log("markRecordObj is NOT Array");
                                }
//                                else {
//                                    if (markRecordObj.mark_creator == data.user._id) {
//                                        marked = true;
//
//                                    }
//                                }

                            if(marked == false){
                            %>
                            <form action="/marking" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!--<dl class="dl-horizontal">-->
                                        <dd>
                                            <input type="text" id="mark" name="mark" value=""/>
                                            <input type="hidden" name="tutorId" value="<%= id %>">
                                        </dd>
                                        <!--</dl>-->
                                        <button class="btn btn-primary" type="submit"
                                                style="float: right; margin-top: 5px;">
                                            評分
                                        </button>
                                    </div>

                                </div>

                            </form>
                            <% }}
                            } %>

                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <div class="panel blank-panel">
                                        <div class="panel-heading">
                                            <div class="panel-options">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab-1" data-toggle="tab">Users
                                                            messages</a></li>
                                                    <!--<li class=""><a href="#tab-2" data-toggle="tab">Last activity</a>-->
                                                    <!--</li>-->
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="panel-body">

                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-1">
                                                    <!--<div class="feed-activity-list">-->
                                                    <!--<div class="feed-element">-->
                                                    <!--<a href="#" class="pull-left">-->
                                                    <!--<img alt="image" class="img-circle" src="img/a2.jpg">-->
                                                    <!--</a>-->

                                                    <!--<div class="media-body ">-->
                                                    <!--<small class="pull-right">2h ago</small>-->
                                                    <!--<strong>Mark Johnson</strong> posted message on <strong>Monica-->
                                                    <!--Smith</strong> site. <br>-->
                                                    <!--<small class="text-muted">Today 2:10 pm - 12.06.2014-->
                                                    <!--</small>-->
                                                    <!--<div class="well">-->
                                                    <!--Lorem Ipsum is simply dummy text of the printing and-->
                                                    <!--typesetting industry. Lorem Ipsum has been the-->
                                                    <!--industry's standard dummy text ever since the 1500s.-->
                                                    <!--Over the years, sometimes by accident, sometimes on-->
                                                    <!--purpose (injected humour and the like).-->
                                                    <!--</div>-->
                                                    <!--</div>-->
                                                    <!--</div>-->

                                                    <% for(var i = 0;i < commentObjs.length;i++){ %>

                                                    <div class="feed-element">
                                                        <a href="#" class="pull-left">
                                                            <img alt="image" class="img-circle" src="img/a3.jpg">
                                                        </a>

                                                        <div class="media-body ">
                                                            <%= commentObjs[i].comment_creator.user_name %>
                                                            <%
                                                                var tempCommentTimeDate = new Date(parseInt(commentObjs[i].comment_time));
                                                                var tempCommentTimeString = tempCommentTimeDate.getDay() + "/" + tempCommentTimeDate.getMonth() + 1 + "/" + tempCommentTimeDate.getFullYear() + " " + tempCommentTimeDate.getUTCHours() + ":" + tempCommentTimeDate.getUTCMinutes() + ":" + tempCommentTimeDate.getUTCSeconds();
                                                            %>
                                                            <small class="pull-right"><%= tempCommentTimeString %></small>
                                                            <strong></strong><br>
                                                            <!--<small class="text-muted">2 days ago at 8:30am</small>-->
                                                            <br>
                                                            <%= commentObjs[i].content %>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                    <% if(data.user){ %>
                                                    <div class="feed-element">
                                                        <form action="/submit-comment-for-tutor" method="post">
                                                            <div class="form-group col-md-12">
                                                                <textarea class="form-control" rows="5"
                                                                          name="comment_content"
                                                                          placeholder="留言"></textarea>
                                                                <button class="btn btn-primary" type="submit"
                                                                        style="float: right; margin-top: 5px;">留言
                                                                </button>
                                                                <input type="hidden" name="postId" value="<%= id %>">
                                                                <input type="hidden" name="userId"
                                                                       value="<%= data.user._id %>">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <% } %>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-3">-->
                <!--<div class="wrapper wrapper-content project-manager">-->
                <!--<h4>Project description</h4>-->
                <!--<img src="img/zender_logo.png" class="img-responsive">-->

                <!--<p class="small">-->
                <!--There are many variations of passages of Lorem Ipsum available, but the majority have suffered-->
                <!--alteration in some form, by injected humour, or randomised words which don't look-->
                <!--even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure-->
                <!--there isn't anything embarrassing-->
                <!--</p>-->

                <!--<p class="small font-bold">-->
                <!--<span><i class="fa fa-circle text-warning"></i> High priority</span>-->
                <!--</p>-->
                <!--<h5>Project tag</h5>-->
                <!--<ul class="tag-list" style="padding: 0">-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Zender</a></li>-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Passages</a></li>-->
                <!--<li><a href=""><i class="fa fa-tag"></i> Variations</a></li>-->
                <!--</ul>-->
                <!--<h5>Project files</h5>-->
                <!--<ul class="list-unstyled project-files">-->
                <!--<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>-->
                <!--<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>-->
                <!--<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>-->
                <!--<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>-->
                <!--</ul>-->
                <!--<div class="text-center m-t-md">-->
                <!--<a href="#" class="btn btn-xs btn-primary">Add files</a>-->
                <!--<a href="#" class="btn btn-xs btn-primary">Report contact</a>-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <%- include('footer') %>

        </div>
    </div>

</div>
<!-- Mainly scripts -->
<%- include('mainly-scripts.ejs') %>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<script>
    $(document).ready(function () {

        $('#loading-example-btn').click(function () {
            btn = $(this);
            simpleLoad(btn, true)

            // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

            simpleLoad(btn, false)
        });
    });

    function simpleLoad(btn, state) {
        if (state) {
            btn.children().addClass('fa-spin');
            btn.contents().last().replaceWith(" Loading");
        } else {
            setTimeout(function () {
                btn.children().removeClass('fa-spin');
                btn.contents().last().replaceWith(" Refresh");
            }, 2000);
        }
    }
</script>


<script src="js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
<script>

    $("#mark").ionRangeSlider({
        min: 0,
        max: 5
//        type: 'double'
    });
</script>
</body>

</html>
